
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.png" alt="Foto de perfil" class="img-fluid" id="fotoDePerfil">
        </div>


        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

            <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
            <p id="developer">Java Developer</p>
            

        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

            <span>
                <h1 id="sobremi">Sobre mi</h1>

                <p id="descripcion">Poseo habilidades de comunicación efectiva y de enseñanza. 
                    Tengo nociones de metodologías SCRUM.
                    Me gusta ser creativo, aportar ideas, cooperar en equipo, 
                    y mantenerme en constante aprendizaje y desarrollo profesional. 
                </p>

            </span>

        </div>

    </div>
