.row{

background-color: rgb(26, 26, 26);
padding: 20px;
margin: 0%;

}

h1{
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    font: bold;
    padding: 10px;
    
}


.pointer{

cursor: pointer;

}