<div class="row">
    <h1 >HABILIDADES</h1>
    <!-- HTML -->
    <div class="col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress class="pointer"
        [title]="'HTML'"
        [percent]="100"
        [radius]="100"
        
        
        [imageSrc]="'../assets/html2.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="80"
      
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#F16529'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
<!-- CSS -->
    <div class="col-sm-4 col-md-4 col-lg-4 ">
        <circle-progress class="pointer"
        [title]="'CSS'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/css2.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="80"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#264DE4'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
<!-- Javascript -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'JS'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/javascript2.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="80"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#E9CA32'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
<!-- Spring -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'Spring'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/spring.png'"
        [showImage]="true"
        [imageHeight]="95"
        [imageWidth]="120"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#95C875'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>

    <!-- Java -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'Java'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/java.png'"
        [showImage]="true"
        [imageHeight]="115"
        [imageWidth]="90"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#E22A2D'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>

<!-- Jpa -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'JPA'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/jpa2.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="90"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#BCAE79'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>

<!-- MySQL -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'MySQL'"
        [percent]="100"
        [radius]="100"
        
    
        [imageSrc]="'../assets/mysql.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="130"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#01618A'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    
    <!-- GIT -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="pointer"
        [title]="'GIT'"
        [percent]="100"
        [radius]="100"

        [imageSrc]="'../assets/git3.png'"
        [showImage]="true"
        [imageHeight]="115"
        [imageWidth]="97"
    
        [showUnits]="false"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#4F4F4F'"
        [innerStrokeColor]="'#B9B9B9'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
<!-- Postman -->
    <div class="col-sm-4 col-md-4 col-lg-4">
      <circle-progress class="pointer"
      [title]="'Postman'"
      [percent]="100"
      [radius]="100"

      [imageSrc]="'../assets/postman.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="110"
  
      [showUnits]="false"
      [titleFontSize]="'2em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#FD6C35'"
      [innerStrokeColor]="'#B9B9B9'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>

</div>