.row {
    margin: 0%;
    padding: 20px;
    background-color: #1A1A1A;
}

.contenedor {
    width: auto;
}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;

}

.img-proyecto {
    border-radius: 50%;
    box-shadow: 3px 3px 1px #343434;
    cursor: pointer;
    position: relative;
    bottom: -10px;
    transition: all .2s linear;



}

#titleProyect {
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-align: center;

}

.img-proyecto:hover {
    box-shadow: inset 1px 1px 8px #979797;
    box-shadow: 1px 1px 8px #979797;
    position: relative;
    bottom: 9px;
}

h1,p{

color: white;

}