<div class="row">
    <div id="titleProyect">
        <h1>PROYECTOS</h1>
    </div>
    <div class="contenedor">


        <div>

            <div  class="col-sm-12 col-md-7 col-lg-7 parte2">
                <h1>"Wtfood"</h1>
                <P>
                    Trabajo en cooperativo en la creación de una página web dinámica sobre recetas, con diversas
                    funcionalidades
                    como; registro de usuario, subir y compartir recetas a una comunidad.
                    Me desempeño tanto en backend como frontend, utilizando tecnologías como; Java, jpa, springboot,
                    html, css, bootstrap, MySQL como base de datos de pruebas y postman para testing. Diseño de fondos e
                    iconos utilizando pothoshop.
                    <strong> (En progreso)</strong>
                </P>


            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                
                <img id="wtfood" src="../../../assets/wtfood.png" alt="logo protecto wtfood"
                    class="img-fluid img-proyecto" target="_blank">

            </div>


        </div>




        <div>

            <div class="col-sm-12 col-md-7 col-lg-7 parte2">
                <h1>"Tecnoticias"</h1>
                <P>
                    Página estática que simula ser una web de noticias sobre tecnología. Proyecto personal de Maquetado
                    con html, css y bootstrap.
                    Deploy con firebase.
                </P>

            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img  src="../../../assets/tecnoticiasIcon.png" alt="logo protecto wtfood"
                    class="img-fluid img-proyecto tecnoticias">
            </div>


        </div>

        <div>

            <div class="col-sm-12 col-md-7 col-lg-7 parte2">
                <h1>Calculadora con Java</h1>
                <P>
                    Calculadora funcional ejecutable para escritorio, la cual puede activar su diseño a modo oscuro.
                    Es un proyecto realizado en forma autodidacta, utilizando unicamente java como tecnología principal,
                    y el diseño de botones creado con photoshop.
                </P>


            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img id="calculadoraIcono" src="../../../assets/calculadoraIcono.png" alt="logo protecto wtfood"
                    class="img-fluid img-proyecto">
            </div>



        </div>






    </div>


</div>