

.image{
    background:url('../../../assets/codigo2.png'),linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    width: 100%;
    height: 400px;
    background-size:cover;
    background-position: 0%;
    background-blend-mode: hard-light;
    animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}






